# Database
DB_URL=jdbc:postgresql://localhost:5432/showlog_db
DB_USERNAME=
DB_PASSWORD=
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=

# Firebase (notification-service)
# notification-service/src/main/resources/firebase/service-account.json 파일 경로
FIREBASE_CREDENTIALS_PATH=firebase/service-account.json

# KOPIS 공공데이터 API (performance-service)
KOPIS_API_KEY=
